
<header class="header" id="header">
  <nav class="nav nav__container">

      <!--Toggle menu (solo mobile)-->
    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-menu-line"></i>
    </div>

    <div  class="nav__logo">
      <a href="index.html">
        <img src="/images/company-logo.png" alt="image" class="logo">
      </a>
    </div>

    
    <!--cart-->
    <a href="checkout.html" class="cart">
      <div class="cart" id="nav-cart">
        <i class="ri-shopping-cart-line"></i>
        <span class="cart-quantity js-cart-quantity">0</span>
      </div>
    </a>

    <!-- Búsqueda en escritorio -->
    <div class="nav__search nav__search-desktop">
      <input type="text" placeholder="¿Qué estás buscando?" class="search__input">
    </div>


     <!-- BOTÓN SOLICITA TU CRÉDITO (solo desktop) -->
    <div class="nav__menu-button nav__credit-desktop">
      <a class="nav__link button button--menu js-button-menu">
        <span class="js-text-button">Solicíta tu crédito</span>
        <i class="ri-arrow-right-line"></i>
      </a>
    </div>

   
    
    <div class="nav__menu" id="nav-menu">
      <div class="nav__list">
        <a href="productos.html#audio" class="nav__link nav__link-desktop  active-link">Audio</a>
        <a href="productos.html#celulares" class="nav__link nav__link-desktop ">Celulares</a>
        <a href="productos.html#lavadoras" class="nav__link nav__link-desktop ">Lavadoras</a>
        <a href="productos.html#televisores" class="nav__link nav__link-desktop ">Televisores</a>
        <a href="productos.html#limpieza" class="nav__link nav__link-desktop ">Limpieza</a>
        <a href="productos.html#refrigeracion" class="nav__link nav__link-desktop ">Refrigeración</a>
        <a href="productos.html#electrodomesticos" class="nav__link nav__link-desktop ">Electrodomésticos</a>
        <a href="productos.html#accesorios" class="nav__link nav__link-desktop ">Accesorios</a>

      </div>
      <div class="nav__menu-button">
        <a class="nav__link button button--menu js-button-menu">
          <span class="js-text-button">Solicíta tu crédito</span>
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>

      <!--Close button-->
      <div class="nav__close" id="nav-close">
        <span>Cerrar</span>
        <i class="ri-close-large-line"></i>
      </div>

    </div>

  </nav>

  <!-- MENÚ FIJO EN DESKTOP -->
  <div class="nav__bottom" id="nav-bottom">
    <div class="nav__bottom-list">
      <a href="productos.html#audio" class="nav__link  active-link">Audio</a>
      <a href="productos.html#celulares" class="nav__link ">Celulares</a>
      <a href="productos.html#lavadoras" class="nav__link ">Lavadoras</a>
      <a href="productos.html#televisores" class="nav__link ">Televisores</a>
      <a href="productos.html#limpieza" class="nav__link ">Limpieza</a>
      <a href="productos.html#refrigeracion" class="nav__link ">Refrigeración</a>
      <a href="productos.html#electrodomesticos" class="nav__link ">Electrodomésticos</a>
      <a href="productos.html#accesorios" class="nav__link ">Accesorios</a>

    </div>
  </div>

  <!-- Búsqueda en móvil -->
  <div class="nav__search nav__search-mobile">
    <input type="text" placeholder="¿Qué estás buscando?" class="search__input">
  </div>

  

   

 </header>