
<header class="header" id="header">
  <nav class="nav nav__container">

      <!--Toggle menu (solo mobile)-->
    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-menu-line"></i>
    </div>

    <div  class="nav__logo">
      <a href="index.html">
        <img src="/images/company-logo.png" alt="image" class="logo">
      </a>
    </div>

    
    <!--cart-->
    <a href="" class="cart">
      <div class="cart" id="nav-cart">
        <i class="ri-shopping-cart-line"></i>
        <span class="cart-quantity js-cart-quantity">0</span>
      </div>
    </a>

    <!-- Búsqueda en escritorio -->
    <div class="nav__search nav__search-desktop">
      <input type="text" placeholder="¿Qué estás buscando?" class="search__input">
    </div>


     <!-- BOTÓN SOLICITA TU CRÉDITO (solo desktop) -->
    <div class="nav__menu-button nav__credit-desktop">
      <a class="nav__link button button--menu js-button-menu">
        <span class="js-text-button">Solicíta tu crédito</span>
        <i class="ri-arrow-right-line"></i>
      </a>
    </div>

   
    
    <div class="nav__menu" id="nav-menu">
      <div class="nav__list">
        <p class="nav__link nav__link-desktop js-nav__link active-link">Audio</p>
        <p class="nav__link nav__link-desktop js-nav__link">Celulares</p>
        <p class="nav__link nav__link-desktop js-nav__link">Lavadoras</p>
        <p class="nav__link nav__link-desktop js-nav__link">Televisores</p>
        <p class="nav__link nav__link-desktop js-nav__link">Limpieza</p>
        <p class="nav__link nav__link-desktop js-nav__link">Refrigeración</p>
        <p class="nav__link nav__link-desktop js-nav__link">Electrodomesticos</p>
        <p class="nav__link nav__link-desktop js-nav__link">Accesorios</p>
      </div>
      <div class="nav__menu-button">
        <a class="nav__link button button--menu js-button-menu">
          <span class="js-text-button">Solicíta tu crédito</span>
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>

      <!--Close button-->
      <div class="nav__close" id="nav-close">
        <span>Cerrar</span>
        <i class="ri-close-large-line"></i>
      </div>

    </div>

  </nav>

  <!-- MENÚ FIJO EN DESKTOP -->
  <div class="nav__bottom" id="nav-bottom">
    <div class="nav__bottom-list">
      <p class="nav__link js-nav__link active-link">Audio</p>
      <p class="nav__link js-nav__link">Celulares</p>
      <p class="nav__link js-nav__link">Lavadoras</p>
      <p class="nav__link js-nav__link">Televisores</p>
      <p class="nav__link js-nav__link">Limpieza</p>
      <p class="nav__link js-nav__link">Refrigeración</p>
      <p class="nav__link js-nav__link">Electrodomésticos</p>
      <p class="nav__link js-nav__link">Accesorios</p>
    </div>
  </div>

  <!-- Búsqueda en móvil -->
  <div class="nav__search nav__search-mobile">
    <input type="text" placeholder="¿Qué estás buscando?" class="search__input">
  </div>

  

   

 </header>