@media screen and (max-width: 1150px) {

  .nav__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 68%;  /*before 52*/
    padding-top: 9rem;
    padding-left: 1.5rem;
    background-color: white;
    border-right: 2px solid var(--white-color);
    transition: left .4s;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .nav__logo{
    z-index: 1;
  }
}

/* show menu */

.show-menu{
  left: 0;
}