.whatsapp{
  position: fixed;
  right: 1rem;
  bottom: 4rem;
  display: inline-flex;
  padding: 6px;
  z-index: var(--z-tooltip);
  width: 50px;
}

.whatsapp-text{
  display: none;
}


/* mas vendidos */


.swiper-slide-card{
  border-radius: 25px;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-inline: 1rem;
  margin-top: 1rem;
  height: auto;
  border-color: #E4E5E7;
  border-style: solid;
  border-width: 2px;
}


.name__product-card{
  font-size: var(--font-large);
  color: var(--background-dark-blue);
  font-weight: var(--font-bold);
  line-height: 25px;
  width: 80%;
}

.price{
  font-size: var(--font-heading);
  color: var(--background-dark-blue);
  font-weight: var(--font-semibold);
}

.card-info-container{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.card-image-container{
  margin-bottom: 1.125rem;
}

.card-image{
  width: 255;
  height: 188;
  
}


.button--services{
  background: var(--white-color);
  column-gap: 20px;
  color: var(--button-bg2);
  font-weight: var(--font-bold);
  border-style: solid;
  border-color: var(--button-bg2);
  border-width: 1px;
}

.section__content2{
  display: flex;
  justify-content: center;
  margin-block: 3rem;
}