<div id="procesoModal" class="modal-overlay">
  <div class="modal-container">

    <button class="modal-close" id="closeModalBtn">&times;</button>

    <h2 class="modal-title">✔ Paso 1 completado</h2>
    <p class="modal-subtitle">
      <strong>¡Excelente elección!</strong>Los productos que seleccionaste han sido registrados. Solo falta un paso para finalizar tu solicitud.
    </p>

    <div class="modal-steps">
      <div class="step-item active">
        <span class="step-number">1</span>
        <span>Seleccionaste tu producto</span>
      </div>

      <div class="step-item">
        <span class="step-number">2</span>
        <span>Completa tu solicitud de crédito</span>
      </div>
      <p class="step-item">En un momento seras dirigido a la siguiente página.</p>

      <div class="modal-image">
        <img src="./images/credito-interfaz.webp" alt="Vista previa del siguiente paso">
      </div>


      <div class="step-item">
        <span class="step-number">3</span>
        <span>Comerbas revisará tu solicitud</span>
      </div>
    </div>

    
    <button id="modalAcceptBtn" class="modal-accept">Aceptar</button>

  </div>


  
</div>
